#search-box {
    margin: 20px auto 0;
    width: 350px;
    max-width: 95%;
    vertical-align: middle;
}

#search-bar {
    display: flex;
    position: relative;
}

#search-kinds {
    column-count: 2;
}

.search-input {
    z-index: 2;
    padding: 7px;
    border-radius: 4px;
    border: 1px solid var(--border-color);
    color: inherit;
    font-family: 'Mono Specials', sans-serif;
    font-size: 16px;
}

#search-field {
    flex-grow: 1;
    margin-right: 6px;
    background-color: inherit;
}

#search-field:focus {
    box-shadow: 0 0 0 3px var(--highlight-color);
    outline: none;
    color: inherit;
}

#search-button {
    background-color: var(--button-color);
}

#search-button:focus {
    background-color: var(--button-color);
    box-shadow: none;
    outline: none;
    color: inherit;
}

#search-button:active {
    background-color: var(--button-active);
    color: inherit;
}

#autocomplete {
    z-index: 1;
    position: absolute;
    top: 125%;
    width: 100%;
    border-radius: 4px;
    background-color: var(--overlay-color);
    box-shadow: 0px 0px 4px #000000a0;
}

.suggestion {
    display: block;
    padding: 2px 4px;
    cursor: pointer;
    font-size: 16px;
    text-decoration: none;
}

.suggestion:first-child {
    padding-top: 4px;
}

.suggestion:last-child {
    padding-bottom: 4px;
}

.suggestion > div {
    padding: 5px;
    border-radius: 2px;
    overflow: clip;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.suggestion:hover > div,
.suggestion-selected > div {
    background-color: var(--overlay-hover);
}

.suggestion-selected:hover > div,
.autocomplete-selected > .suggestion:hover > div {
    background-color: var(--overlay-active);
}

.suggestion-def-query {
    font-family: 'Mono Specials', sans-serif;
}

.suggestion-def-text {
    color: var(--faded-text-color);
    font-size: 14px;
}
