.result-count {
    padding-top: 0;
    padding-bottom: 0;
    margin-top: 3px;
    margin-bottom: 0;
    text-align: center;
    font-size: 16px;
}

.en {
    padding: 10px;
    margin: 15px auto;
    min-width: 200px;
    border: 1px solid var(--border-color);
    font-size: 18px;
    overflow-wrap: break-word;
}

#exact > .en {
    outline: 3px solid var(--highlight-color);
}

.wrd, .wrd:visited, .wrd:hover, .wrd:active {
    color: inherit;
    font-weight: bold;
}

@media (prefers-color-scheme: dark) {
    .wrd, .wrd:visited, .wrd:hover, .wrd:active {
        color: white;
        font-weight: normal;
    }
}

.sec {
    margin-top: 10px;
    margin-bottom: 15px;
}

.en ol {
    padding-left: 2em;
    margin-top: 10px;
    margin-bottom: 0;
}
