#search-bar {
    position: relative;
    margin: 20px auto 0;
    width: 350px;
    max-width: 95%;
    vertical-align: middle;
}

#search-form {
    display: flex;
}

#search-form input {
    z-index: 2;
    padding: 7px;
    border-radius: 4px;
    border: 1px solid #a0a0a0;
    color: black;
    font-family: 'Mono Specials', sans-serif;
    font-size: 16px;
}

#search-field {
    flex-grow: 1;
    margin-right: 6px;
    background-color: white;
}

#search-field:focus {
    box-shadow: 0 0 0 3px #0030a027;
    outline: none;
    color: black;
}

#search-button {
    background-color: #f0f0f0;
}

#search-button:focus {
    box-shadow: none;
    outline: none;
    color: black;
}

#search-button:active {
    background-color: #e0e0e0;
    color: black;
}

#autocomplete {
    z-index: 1;
    position: absolute;
    top: 125%;
    width: 100%;
    border-radius: 4px;
    background-color: white;
    box-shadow: 0px 0px 4px #000000a0;
}

.suggestion {
    display: block;
    padding: 2px 4px;
    cursor: pointer;
    font-size: 16px;
    color: black;
    text-decoration: none;
}

.suggestion:first-child {
    padding-top: 4px;
}

.suggestion:last-child {
    padding-bottom: 4px;
}

.suggestion > div {
    padding: 5px;
    border-radius: 2px;
    overflow: clip;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.suggestion:hover > div,
.suggestion-selected > div {
    background-color: #f0f0f0;
}

.suggestion-selected:hover > div,
.autocomplete-selected > .suggestion:hover > div {
    background-color: #e0e0e0;
}

.suggestion-def-query {
    font-family: 'Mono Specials', sans-serif;
}

.suggestion-def-text {
    color: #00000060;
    font-size: 14px;
}
