{{~#each segments~}}
    {{#if uri~}}
        <a class="word" href="{{uri}}">
    {{~/if}}
    {{~#if tag~}}
        <{{tag}}>
    {{~/if}}
    {{~text}}
    {{~#if tag~}}
        {{#if close_tag~}}
            </{{tag}}>
        {{~/if}}
    {{~/if}}
    {{~#if uri~}}
        </a>
    {{~/if~}}
{{~/each~}}
