#title {
    margin-top: 12vh;
    margin-bottom: 0px;
    text-align: center;
    font-size: 32px;
    font-weight: bold;
}

#search-tips {
    padding: 0 10px;
    margin-top: 100px;
    margin-bottom: 50px;
    margin-left: auto;
    margin-right: auto;
    width: 500px;
    max-width: 90%;
    border: 1px solid #a0a0a0;
}

#search-tips h2 {
    text-align: center;
    font-size: 22px;
}

#search-tips li {
    margin: 5px 0;
    line-height: 1.4;
}

#search-tips p {
    line-height: 1.4;
}

#search-tips span {
    padding: 1px 3px;
    margin: 0 1px;
    background-color: #f0f0f0;
    border: 1px solid #d0d0d0;
    font-family: 'Mono Specials', sans-serif;
    white-space: nowrap;
}
