* {
    font-family: sans-serif;
}

@font-face {
    font-family: 'Mono Specials';
    src: local('Menlo'), local('Monaco'), local('Consolas'), local('monospace');
    unicode-range: U+21-2C, U+2E-7E;
    /* U+23-26, U+28-2B, U+3C, U+3E-3F, U+5B-5D, U+5F, U+7B-7E; */
    /* U+21-2C, U+2E-40, U+5B-60, U+7B-7E; */
}
