#results {
    margin: auto;
    width: 800px;
    max-width: 95%;
}

.header {
    padding-top: 20px;
    padding-bottom: 0;
    margin-top: 10px;
    margin-bottom: 0;
    text-align: center;
    font-size: 22px;
    font-weight: bold;
}

.result-count {
    padding-top: 0;
    padding-bottom: 0;
    margin-top: 3px;
    margin-bottom: 0;
    text-align: center;
    font-size: 16px;
}

.en {
    padding: 10px;
    margin: 15px auto;
    min-width: 200px;
    border: 1px solid #a0a0a0;
    font-size: 18px;
    overflow-wrap: break-word;
}

.ex {
    outline: 3px solid #0030a027;
}

.wrd {
    color: black;
    font-weight: bold;
}

.sec {
    margin-top: 10px;
    margin-bottom: 15px;
}

.en ol {
    padding-left: 2em;
    margin-top: 10px;
    margin-bottom: 0;
}
