#results {
    margin: auto;
    width: 800px;
    max-width: 95%;
}

.header {
    padding-top: 20px;
    padding-bottom: 0;
    margin-top: 10px;
    margin-bottom: 0;
    text-align: center;
}

.result-count {
    text-align: center;
    margin-top: 5px;
    margin-bottom: 0;
}

.word {
    color: black;
    font-weight: bold;
}

.entry {
    padding: 10px;
    margin: 15px auto;
    border-style: solid;
    border-width: 1px;
    border-color: #a0a0a0;
    font-size: 18px;
}

#exact .entry {
    outline-style: solid;
    outline-width: 3px;
    outline-color: #d7e0f0;
}

.section-header {
    margin-top: 10px;
    margin-bottom: 15px;
}

.definition-list {
    padding-left: 2em;
    margin-top: 10px;
    margin-bottom: 0;
}
