#search-bar {
    position: relative;
    margin: 20px auto 0;
    width: 350px;
    max-width: 95%;
}

#search-form {
    display: flex;
}

#search-form input {
    z-index: 2;
    padding: 5px;
}

#search-field {
    flex-grow: 1;
    margin-right: 5px;
    font-family: monospace;
    font-size: 16px;
}

#autocomplete {
    z-index: 1;
    position: absolute;
    top: 125%;
    width: 100%;
    border-radius: 4px;
    background-color: #ffffff;
    box-shadow: 0px 0px 4px #000000a0;
    vertical-align: middle;
}

.suggestion {
    padding: 2px 4px;
    cursor: pointer;
    font-size: 16px;
}

.suggestion:first-child {
    padding-top: 4px;
}

.suggestion:last-child {
    padding-bottom: 4px;
}

.suggestion-def {
    font-size: 14px;
}

.suggestion-def-query {
    font-family: monospace;
}

.suggestion-def-text {
    color: #00000060;
}

.suggestion > div {
    padding: 5px;
    border-radius: 2px;
}

.suggestion:hover > div {
    background-color: #f0f0f0;
}

.suggestion-selected > div {
    background-color: #f0f0f0;
}

.autocomplete-selected > .suggestion:hover > div {
    background-color: #e0e0e0;
}
