<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="/res/{{{version}}}/styles/main.css">
        <link rel="stylesheet" href="/res/{{{version}}}/styles/annotate.css">
        <link rel="stylesheet" href="/res/{{{version}}}/styles/search_bar.css">
        <script src="/res/{{{version}}}/scripts/annotate.js"></script>
        <title>Tamil Annotator</title>
    </head>
    <body>
        <div id="main">
            <h2 class="header">Tamil Annotator</h2>
            <p class="center">Enter Tamil text, then press Annotate.</p>
            <textarea id="annotate-input" class="text" rows="10"></textarea>
            <div id="annotate-result" class="text" style="display:none;"></div>
            <button id="annotate-button" class="search-input search-button">Annotate</button>
            <p>
                This tool takes a section of Tamil text and analyzes it to find
                which words are used. It then adds a link to each word to open
                corresponding entries in the dictionary. It has some awareness
                of grammar, but it is not perfect, and some words may be interpreted
                incorrectly. The input must be in standard written Tamil.
            </p>
            <p><a href="/">Home Page</a></p>
        </div>
    </body>
</html>
