<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="/res/{{{version}}}/styles/main.css">
        <link rel="stylesheet" href="/res/{{{version}}}/styles/annotate.css">
        <link rel="stylesheet" href="/res/{{{version}}}/styles/search_bar.css">
        <script src="/res/{{{version}}}/scripts/annotate.js"></script>
        <title>Tamil Annotator</title>
    </head>
    <body>
        <div id="main">
            <h2 class="header">Tamil Annotator</h2>
            <p class="center">Enter Tamil text, then press Annotate to add links to definitions.</p>
            <textarea id="annotate-input" class="text" rows="10"></textarea>
            <div id="annotate-result" class="text" style="display:none;"></div>
            <button id="annotate-button" class="search-input search-button">Annotate</button>
            <p><a href="/">Home Page</a></p>
        </div>
    </body>
</html>
